@font-face {
    font-family: "pt-sans-caption-bold";
    src: url(fonts/pt-sans-caption-bold.woff2);
}

body {
    background-image: url(../img/backgrounf.jpg);
    background-size: cover;
}

main {
    margin: 0 auto;
    height: 200px;
    width: 500px;
}

section {
    display: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}

h2 {
    font-family: "pt-sans-caption-bold";
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

li {
    display: inline-block;
    list-style-type: none;
}

.radio-button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.radio-button input[type="radio"] {
    display: none;
}

.man {
    border: 1px solid orange;
    background-color: orange;
    color: white;
}

.women {
    border: 1px solid orange;
}

fieldset {
    border: 0;
}

.UpText1 {
    color: orange;
}

.UpText1 input[type="radio"]:checked {
    color: orange;
}

p {
    color: gray;
    font-family: pt-sans-caption-bold;
}